// Copy/rename this file to auth.json
// Edit auth.json leaving just one block
// Edit internal block where words are surrounded by "< >" symbols

{
    "email": "<your-email>",                         // your full email address
    "password": "<your-password>",                   // your in-app password 
    "to": "<recepient-email>",                       // email of whom will receive the email
    "outgoing_server": "<smtp-server>",
    "outgoing_port": 587
}
