// Copy/rename this file to auth.json
// Edit auth.json leaving just one block
// Edit internal block where words are surrounded by "< >" symbols

{
    "to": "recepient-email>",
    "email": "<your-email>",                         // your full email address
    "password": "<your-password>",                   // your in-app password 
    "outgoing_server": "smtp.mail.me.com",
    "outgoing_port": 587,
}
}
