// Copy/rename this file to auth.json
// This works with either Gmail or iCloud
// Remove all the lines before '{'
// and inline comments (everything after the ',')
// Edit internal blocks where words are surrounded by "< >" symbols
// Check how to create in-app passwords for Gmail or iCloud

{
    "email": "<your-email>",                         // your full email address
    "password": "<your-password>",                   // your in-app password 
    "to": "<recepient-email>",                       // email of whom will receive the email
    "outgoing_server": "<smtp-server>",
    "outgoing_port": 587
}
